.hiring-card {
  width: 80%;
  background: #a5a8ab;
  color: white;
  padding: 24px 24px 18px 22px;
  position: relative;
  p {
    margin: 0px 14px 14px 0px;
    font-size: 12px;
  }

  .apply-now {
    position: absolute;
    background: orange;
    width: 115px;
    padding: 1px;
    right: -60px;
    top: 102px;
  }
}

.hiring-card:hover {
  background: #7eab3a;
  cursor: default;
  p {
    color: white;
    transition: 0.5s;
    transform: scale(0.9);
  }
  .apply-now {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
  }
}
