.header-background {
  background-image: url("../../images/header-background/header-background.jpg");
  background-size: cover;
  position: relative;
}

li {
  list-style: none;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  margin: 6px;
}

.home {
  animation: slideIn 1.5s ease-in-out forwards 0.2s;
}

@keyframes slideIn {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
