.header-background {
  background-image: url("../../images/header-background/header-background.jpg");
  background-size: cover;
  position: relative;
}

li {
  list-style: none;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  margin: 6px;
}
