@media (min-width: 991px) and (max-width: 1200px) {
  .apply-now {
    right: -60px !important;
    top: 138px !important;
  }
  .footer {
    input[type="text"] {
      width: 170px !important;
    }
    .col-lg-5 {
      .hell {
        left: -10px;
        position: relative;
      }

      button {
        width: 60px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer {
    input[type="text"] {
      width: 135px !important;
    }
    .col-lg-5 {
      .hell {
        left: -10px;
        position: relative;
      }

      button {
        width: 65px !important;
      }
    }
  }
  .same {
    .row {
      .login-register {
        margin-top: 24%;
      }
    }
  }

  .apply-now {
    right: -70px !important;
    top: 100px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .same {
    .row {
      .nav-menus {
        margin-top: 11%;
      }

      .t4m-logo {
        width: 195px;
      }
      .login-register {
        margin-top: 4%;
      }
    }
  }

  .footer {
    input[type="text"] {
      width: 130px !important;
    }
    .col-lg-5 {
      .hell {
        left: -10px;
        position: relative;
      }
      input {
        margin-left: 40px !important;
      }
      button {
        width: 52px !important;
      }
    }
  }

  .apply-now {
    font-size: 13px;
    width: 95px !important;
    right: -67px !important;
    top: 158px !important;
  }
}

@media (max-width: 575px) {
  .posters {
    img {
      height: 130px !important;
    }
  }

  .setWidth {
    height: 270px !important;
  }

  .hiring-card p {
    margin: 0px 28px 6px 28px !important;
    font-size: 12px !important;
  }
  .hiring-card .apply-now {
    right: -70px !important;
    top: 45px !important;
  }

  .same {
    .row {
      .nav-menus {
        margin-right: 20px;
      }
      .login-register {
        position: absolute;
        font-weight: 500;
        color: white;
        margin-top: -18%;
        left: 180px;
      }
    }

    .Welcome-to-t4m {
      font-size: 28px;
    }

    .DMG {
      font-size: 18px;
    }
  }

  .footer-menus {
    a {
      margin: 5px !important;
      font-size: 12px !important;
    }
  }

  .footer {
    .col-lg-5 {
      .hell {
        margin-top: -75px;
        left: -72px;
        position: relative;
      }

      input[type="text"] {
        width: 136px !important;
        margin-left: 160px !important;
      }
      button {
        width: 55px !important;
      }
    }
  }
}
