html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}

.left-layer {
  z-index: 1;
  position: absolute;
  width: 40%;
  height: 100%;
  left: -40%;
  background: #cd6a26;
  /* transition: all 0.01s cubic-bezier(0.645, 0.045, 0.355, 1); */
  /* transition-delay: 0.9s !important; */
  animation: slideIn 0.5s ease-in-out forwards 0.1s;
}
.left-layer--2 {
  background: gray;

  /* transition: all 0.01s cubic-bezier(0.645, 0.045, 0.355, 1); */
  /* transition-delay: 0.9s !important; */
  animation: slideIn 0.5s ease-in-out forwards 0.2s;
}
.left-layer--3 {
  /* transition: all 0.01s cubic-bezier(0.645, 0.045, 0.355, 1); */

  background: #82b23c;
  /* transition-delay: 0.9s !important; */
  animation: slideIn 0.5s ease-in-out forwards 0.31s;
}

@keyframes slideIn {
  0% {
    transform: translateX(1800px);
  }
  100% {
    transform: translateX(0px);
  }
}
