.explore {
  .header-background-explore {
    background-image: url("../../images/header-background/2.jpg");
    background-size: cover;
    position: relative;
    height: 587px;
  }

  h3 {
    margin-top: 5%;
    color: #f08542;
    font-family: "Kiwi Maru";
  }

  .video {
    justify-content: center;
    display: flex;
  }
}

.forHover:hover {
  h3 {
    transform: scale(1.1);
    transition: 0.5s;
  }
  img {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
