.career {
  .header-background-career {
    background-image: url("../../images/header-background/3.jpg");
    background-size: cover;
    position: relative;
    height: 604px;
  }

  .make-flex {
    margin-left: 9%;
    margin-right: 9%;
    display: flex;
    flex-wrap: flex;
    justify-content: center;
  }

  .career-at-take4media {
    display: flex;
    justify-content: center;
    margin-top: 70px;

    h2 {
      color: #f07a2a;

      font-weight: 500;
      font-family: "Kiwi Maru";
    }
  }

  .text-and-heading {
    font-weight: 300;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 90px !important;
  }

  .hiring {
    color: #f07a2a;
    font-weight: 500;
    font-family: "Kiwi Maru";
  }

  .send-resume {
    margin-top: 80px;
    display: inline-flex;
    position: relative;
    background: #7eab3a;
    color: white;
    width: fit-content;
    padding: 8px 40px;
  }
}
